<div class="page-header">
  <h1>Interactions</h1>
</div>

<p><a href="/interactions/new" class="btn btn-primary">Add a New Interaction</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Contact</th>
      <th>Date</th>
      <th>Message</th>
      <th>Lastremindedon</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @interactions.each do |interaction| %>
      <tr>
        <td><%= interaction.user_id %></td>
        <td><%= interaction.contact_id %></td>
        <td><%= interaction.date %></td>
        <td><%= interaction.message %></td>
        <td><%= interaction.lastremindedon %></td>
        <td>
          <a href="/interactions/<%= interaction.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/interactions/<%= interaction.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_interaction/<%= interaction.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

