<div class="page-header">
  <h1>Contact #<%= @contact.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Company</dt>
  <dd><%= @contact.company_id %></dd>

  <dt>Hr</dt>
  <dd><%= @contact.hr %></dd>

  <dt>Kelloggalum</dt>
  <dd><%= @contact.kelloggalum %></dd>

  <dt>Name</dt>
  <dd><%= @contact.name %></dd>

</dl>
