<div class="page-header">
  <h1>Companies</h1>
</div>

<p><a href="/companies/new" class="btn btn-primary">Add a New Company</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Owner</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.status %></td>
        <td><%= company.user.email %></td>
        <td>
          <a href="/companies/<%= company.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/companies/<%= company.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_company/<%= company.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="page-header">
  <h1>Interactions</h1>
</div>

<p><a href="/interactions/new" class="btn btn-primary">Add a New Interaction</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Company</th>
      <th>User</th>
      <th>Contact</th>
      <th>Date</th>
      <th>Message</th>
      <th>Last Reminded On</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <% company.contacts.each do |contact| %>
        <% contact.interactions.each do |interaction| %>


            <tr>
              <td><%= interaction.contact.company.name %></td>
              <td><%= interaction.user.email %></td>
              <td><%= interaction.contact.name %></td>
              <td><%= interaction.date %></td>
              <td><%= interaction.message %></td>
              <td><%= interaction.lastremindedon %></td>
              <td>
                <a href="/interactions/<%= interaction.id %>" class="btn btn-primary">
                  <i class="fa fa-search-plus"></i>
                </a>
              </td>
              <td>
                <a href="/interactions/<%= interaction.id %>/edit" class="btn btn-warning">
                  <i class="fa fa-edit"></i>
                </a>
              </td>
              <td>
                <a href="/delete_interaction/<%= interaction.id %>" class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
  </tbody>
</table>


