<div class="page-header">
  <h1>Company #<%= @company.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @company.name %></dd>

  <dt>Status</dt>
  <dd><%= @company.status %></dd>

  <dt>Owner</dt>
  <dd><%= @company.owner_id %></dd>

  <dt>Contact</dt>
  <dd><%= @company.contact_id %></dd>

  <dt>Conversation history</dt>
  <dd><%= @company.conversation_history %></dd>

</dl>

